body {
    font-size: 18px;
    background-image: url("background-tile.svg");
    background-size: cover;
}

#full {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    border: 1px groove #FFF2EF;
    overflow: clip;
}

#header {
    position: relative;
    background-color: #B9375D;
    width: 100%;
    margin: auto;
}

#title {
    margin: 0;
    padding: 10px;
    color: white;
    font-family: Monospace;
    font-weight: lighter;
    font-size: 60px;
    text-shadow: 2px 2px 8px #000000;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    background-color: #124170;
    overflow: hidden;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: Monospace;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #5D688A;
}

#nav-menu-button {
    display: none;
    position: absolute;
    top: 25px;
    left: 90%;
    color: white;
}

#content {
    height: 200px;
    background-color: #FFF8EA;
}

#footer {
    background-color: #B9375D;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Monospace;
}


@media (max-width: 1200px) {
    #full {
        margin: 0;
    }

    #nav-bar {
        flex-direction: column;
        height: 0;
        transition: height 0.5s ease-in-out;
    }

    #nav-bar.open {
        height: 200px;
    }

    #nav-menu-button {
        display: block;
    }
}
